# Scratch
pr.txt

# Build
build/
out/
cmake-build-*/
install/

# vcpkg
vcpkg_installed/

# IDE
.vs/
.vscode/
.idea/
*.user
compile_commands.json
.cache/

# OS
.DS_Store
Thumbs.db

# Artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
